* {
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading {
  margin-top: 20px;
  font-family: fantasy;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px auto;
}

#sketch-area {
  display: flex;
  flex-wrap: wrap;
  background-color: white;

  box-shadow: 10px 10px rgba(0, 170, 255, 0.034);
}

.cell {
  border: 1px solid whitesmoke;
  flex: 1 0 auto;
}

button {
  font-size: 20px;
  margin-bottom: 10px;
}